.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  /* background-image: url('src/bg2.jpg'); */
  background-position: center;
  background-repeat: repeat; /* Changed from 'repeat' to 'repeat' */
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark-mode {
  --bg-color: #282c34;
  --text-color: #ffffff;
}

.light-mode {
  --bg-color: #ffffff;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.theme-toggle {
  background: none;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.theme-toggle:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}

